In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns
import spacy

plt.style.use('fivethirtyeight')

engine = create_engine('postgres://postgres:moop@18.236.133.116:5432/capstone')

In [4]:
query = """
SELECT text, useful
FROM reviews
"""

df = pd.read_sql_query(query, engine)
df.shape

(5261668, 2)

In [11]:
nlp = spacy.load('en')
doc = nlp('This is a dog horses hybrid')
for token in doc:
    print(token.text, token.lemma_)

This this
is be
a a
dog dog
horses horse
hybrid hybrid